---
layout: base
class: home
---

<section class='home-work home-section'>
    <h2>Design</h2>
    <ul class='project-list'>
        {% assign works = collections.work | reverse %}
        {% assign currentYear = "" %}
        {% for p in works %}
        {% if p.data.hidden != true %}
        {% assign thisYear = p.date | date: "%y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>
<section class='home-writing home-section'>
    <h2>Writing</h2>
    <nav class='project-list'>
        {% assign posts = collections.post | reverse %}
        {% assign currentYear = "" %}
        {% for post in posts %}
        {% assign thisYear = post.date | date: "%y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
            <span class="project-category">{{post.data.publication}}</span>
        </li>
        {% endfor %}
    </nav>
</section>