---
layout: base
class: home
---

<article class="home__container">
    <h2>
        <span>Projects</span>
    </h2>
    <section class='home__items'>
        {% for year in collections.workByYear %}
        <h3 class="home__year">
            {{year.year}}
        </h3>
        {% assign posts = year.posts | reverse %}
        <ol>
            {% for post in posts %}
            <li class='project-list-item'>
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                    {% if post.data.is_featured %}
                        <span class="is-featured">
                        </span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ol>
        {% endfor %}
    </section>
    <hr/>
       <div class="posts__header">
           <h2>Writing</h2>
       </div>
       <section class='home__items home__posts'>
        {% for year in collections.postsByYear %}
        <h3 class="home__year">{{year.year}}</h3>
        {% assign posts = year.posts | reverse %}
        <ol>
            {% for post in posts %}
            <li class='project-list-item'>
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                    {% if post.data.is_featured %}
                        <span class="is-featured">
                        </span>
                    {% endif %}

                </a>
            </li>
            {% endfor %}
        </ol>
        {% endfor %}
    </section>
</article>
