---
layout: base
class: home
---


<section class='home__projects' aria-shortcuts="P">
    <h2 class="section__header"><span class="title">Projects</span></h2>
    {% assign years = collections.workByMonth | reverse %}
    {% for year in years %}
    {% assign months = year.months | reverse %}
    <h3 style="--month-count: {{ months | size }}" class="home__year {% if forloop.last %}is-last{% endif %}">{{year.year}}</h3>
    {% for month in months %}
    {% assign posts = month.posts | reverse %}
    <h4 class="home__month">{{ month.date | date: "%b" }}</h4>
    <ol>
        {% for post in posts %}
        <li>
            <a href="{{ post.url }}" class="home__item {% if post.data.draft == true %}is-draft{% endif %}">
                <span class="project__title">
                    {{ post.data.title }}
                </span>
                <span class="project__category">
                    {{ post.data.category }}
                </span>
                <span class="is-featured-container project__featured">
                    {% if post.data.is_featured %}
                    <span class="is-featured"></span>
                    {% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
    {% endfor %}
</section>
<section class='home__posts' aria-shortcuts="W">
    <h2 class="section__header"><span class="title">Writing</span></h2>
    {% assign years = collections.postsByMonth | reverse %}
    {% for year in years %}
    {% assign months = year.months | reverse %}
    <h3 style="--month-count: {{ months | size }}" class="home__year {% if forloop.last %}is-last{% endif %}">{{year.year}}</h3>
    {% for month in months %}
    <h4 class="home__month">{{ month.date | date: "%b" }}</h4>
    <ol>
        {% assign posts = month.posts | reverse %}
        {% for post in posts %}
        <li>
            <a href="{{ post.url }}" class="home__item {% if post.data.draft == true %}is-draft{% endif %}">
                <span class="writing__title">
                    {{ post.data.shortTitle | default: post.data.title}}
                </span>
                <span class="writing__publication">
                    {{ post.data.publication }}
                </span>
                <span class="is-featured-container writing__featured">
                    {% if post.data.is_featured %}
                    <span class="is-featured"></span>
                    {% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
    {% endfor %}
</section>

<section class='home__misc'>
    <section class='home__contact' aria-shortcuts="C">
        <h2 class="section__header"><span class="title">Contact</span></h2>
        <ol>
            {% for el in follow %}
            <li>
                <a class="home__item" href="{{ el.url }}">
                    <em class="follow__label">{{ el.label }}</em>
                    <span class="follow__value">{{ el.handle }}</span>
                </a>
            </li>
            {% endfor %}
            <li class="home__email">
                <button id="copy-email" data-email="hello@maxkohler.com">
                    <em class="follow__label">Email</em>
                    <span class="email__value follow__value">
                        hello@maxkohler.com
                    </span>
                </button>
            </li>
            <li>
                <a class="home__item" href="/pgp.txt">
                    <em class="follow__label">PGP</em>
                    <span class="follow__value">xsDNBGH+Vz4BDADrjvgsy9pMMSCXp0kZazy6Gvo6fZNLRRiPZmNktkm6gsLik8DO</span>
                </a>
            </li>
        </ol>
    </section>
    <section class='home__teaching' aria-shortcuts="T">
        <h2 class="section__header"><span class="title">Teaching</span></h2>
        <ol>
            {% for el in teaching %}
            <li>
                <a class="home__item {% if el.is_draft == 'true' %}is-draft{% endif %}" href="{{ el.url }}">
                    <span class="teaching__title">
                        {{ el.title }}
                    </span>
                    <span class="teaching__venue">
                        {{ el.institution }}
                    </span>
                    <span class="is-featured-container">
                        {% if el.is_featured == "true" %}<span class="is-featured"></span>{% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ol>
    </section>
    <section class='home__running is-paginated' aria-shortcuts="R">
        <div class="section__header">
            <h2 class="title">Running</h2>
            <span class="paginate__index">1/{{running | size }}</span>
            <div class="section__controls">
                <button class="paginate-prev notes__paginate">Prev</button>
                <button class="paginate-next notes__paginate">Next</button>
            </div>
        </div>
        {% assign running_pages = running %}
        {% for p in running_pages %}
        {% assign posts = p %}
        <ol class="paginate__page {% if forloop.first %}is-active{% endif %}" data-index="{{ forloop.index0 }}">
            {% for el in posts %}
            {% if el.url != "" %}<li class="has-url"><a class="home__item" href="{{el.url}}">{% else %}
            <li class="home__item">{% endif %}
                <span class="running__date">{{ el.date | date: "%b %d, %Y"}}{% if el.url != "" %} ↗{% endif %}
                </span>
                <span class="running__distance">{{ el.distance }}km</span>
                {% if el.time != "" %}
                <span class="running__time">{{ el.time }}</span>
                <span style="--relative_pace: {{el.relative_pace}}" class="running__pace">{{ el.pace | replace: "0:0", ""}}</span>
                {% endif %}
                <span class="is-featured-container running__featured">
                    {% if el.isPB %}<span class="is-featured"></span>{% endif %}
                </span>
                {% if el.url != "" %}</a>{% endif %}
            </li>
            {% endfor %}
        </ol>
        {% endfor %}
    </section>
    <section class='home__notes is-paginated' aria-shortcuts="L">
        <div class="section__header">
            <h2 class="title">Notes</h2>
            <span class="paginate__index">1/{{collections.pagedNotes | size }}</span>
            <div class="section__controls">
                <button class="paginate-prev notes__paginate">Prev</button>
                <button class="paginate-next notes__paginate">Next</button>
            </div>
        </div>
        {% assign pages = collections.pagedNotes %}
        {% for p in pages %}
        {% assign posts = p %}
        <ol class="paginate__page {% if forloop.first %}is-active{% endif %}" data-index="{{ forloop.index0 }}">
            {% for post in posts %}
            <li><a href="{{ post.url }}" class="home__item">
                    <span class="notes__venue">
                        {{post.data.venue}}
                    </span>
                    <span class="notes__title">
                        {{ post.data.shortTitle | default: post.data.title}}
                    </span>
                </a></li>
            {% endfor %}
        </ol>
        {% endfor %}
    </section>
    <section class='home__friends' aria-shortcuts="F">
        <h2 class="section__header">
            <span class="title">Friends</span>
        </h2>
        <ul>
            {% for el in friends %}
            <li>
                <a class="home__item" href="{{ el.url }}">
                    <span class="friends__name">
                        {{ el.name }} ↗
                    </span>
                    <span class="friends__comment">
                        {{ el.comment }}

                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="home__meta" aria-shortcuts="M">
        <h2 class="section__header">
            <span class="title">Meta</span>
        </h2>
        {% include "footer.liquid" %}
    </section>
</section>