---
layout: base
class: home
---

<section class="home-hero">
    <img src="/assets/archiver/lines.png" alt="">
</section>

<aside class="home-caption">
    Illustration: Research image from the <a href="/posts/2019-09-29-archiver/">Tate Archive</a>. 
</aside>

<section class='home-work home-section'>
    <h2>Work</h2>
    <ul class='project-list'>
        {% assign works = collections.work | reverse %}
        {% assign currentYear = "" %}
        {% for p in works %}
        {% assign thisYear = p.date | date: "%Y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</section>
<section class='home-writing home-section'>
    <h2>Notes</h2>
    <nav class='project-list'>
        {% assign posts = collections.post | reverse %}
        {% assign currentYear = "" %}
        {% for post in posts %}
        {% assign thisYear = post.date | date: "%Y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
        </li>
        {% endfor %}
    </nav>
</section>