---
layout: base
class: home
---

<section class='home-writing home-section'>
    <nav class='project-list'>
        {% for year in collections.postsByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse %}
        {% for post in posts %}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
            <span class="project-category">
                {% if post.data.tags contains "work" %}
                {{post.data.category}}
                {% endif %}

                {% if post.data.tags contains  "post" %}
                Writing
                {% endif %}
            </span>
        </li>
        {% endfor %}
        {% endfor %}
    </nav>
</section>