---
layout: base
class: home
---

<article class="home__container">
    <header class="home__header">
        <h1 class="home__title">Max Kohler</h1>
        <span>Visual Communication</span>

        <ul class="header__links">
            <li><a href="https://bsky.app/profile/maxkohler.bsky.social">Bsky</a></li>
            <li><a href="https://www.instagram.com/maxakohler/">Instagram</a></li>
            <li><a href="https://github.com/awesomephant">Github</a></li>
            <li><a href="mailto:hello@maxkohler.com">hello@maxkohler.com</a></li>
        </ul>
    </header>
    <section class='home__items'>
        {% for year in collections.postsByYear %}
        <h2 class="home__year">
            {{year.year}}
        </h2>
        {% assign posts = year.posts | reverse %}
        <ol>
            {% for post in posts %}
            <li class='project-list-item {{post.data.tags | join: " "}}'>
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ol>
        {% endfor %}
    </section>
    {% include "footer.liquid" %}
</article>