---
layout: base
class: home
---

<section class='home-work home-section'>
    <h2>Design</h2>
    <ul class='project-list'>
        {% assign works = collections.work | reverse %}
        {% assign currentYear = "" %}
        {% for p in works %}
        {% if p.data.hidden != true %}
        {% assign thisYear = p.date | date: "%y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>
<section class='home-writing home-section'>
    <h2>Writing <a href="/feed.xml" class="follow">Follow</a></h2>
    <nav class='project-list'>
        {% assign posts = collections.post | reverse %}
        {% assign currentYear = "" %}
        {% for post in posts %}
        {% assign thisYear = post.date | date: "%y" %}
        <li class='project-list-item'>
            {% if thisYear != currentYear %}
            {% assign currentYear = thisYear %}
            <span class="project-date">
                {{currentYear}}
            </span>
            {% endif %}
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
        </li>
        {% endfor %}
    </nav>
</section>

<canvas id="world"></canvas>
<script>
    function fillCircle(c, x, y, r, a) {
        c.beginPath();
        c.arc(x, y, r, 0, a * Math.PI);
        c.fill();
    }

    function yn() {
        if (Math.random() > .5) {
            return true;
        }
        return false;
    }

    window.addEventListener('DOMContentLoaded', () => {
        const el = document.getElementById('world')
        const c = el.getContext('2d')
        c.canvas.width = window.innerWidth;
        c.canvas.height = document.body.scrollHeight;
        c.fillStyle = "white";
        c.imageSmoothingEnabled = false;

        const colCount = 3;
        const colWidth = c.canvas.width / colCount;

        const rowHeight = colWidth;
        const rowCount = colCount;
        const cellCount = colCount * rowCount;

        for (let i = 0; i < cellCount; i++) {
            let col = (Math.floor(i / colCount));
            let row = (i % rowCount);

            const radius = rowHeight / 2;

            if (yn()) {
                let x = (col * colWidth) + (colWidth / 2);
                let y = (row * rowHeight) + (rowHeight / 2);
                if (yn()) {
                    fillCircle(c, x, y, radius, 2);
                } else {
                    fillCircle(c, x, y, radius, 1);
                    fillCircle(c, x, y - radius, radius, 1);
                }
            } else {
                if (yn()) {
                    c.fillRect(col * colWidth, row * rowHeight, colWidth, rowHeight)
                }
            }
        }
    })
</script>