<!DOCTYPE html>
<html lang="en">

{% include "head.liquid" %}

<body class='{{ class }} line-numbers {% if tags %}tags-{{tags | join: "-"}}{% endif %}{% if teacher%}notes{%endif%}' style="{% if background %}background: {{background}} {%endif%}">
    <header class="site__header">
        <h1 class="site__title">
            <a href='/'>Max Kohler</a>
        </h1>
        <span>Advanced VisCom Solutions</span>
    </header>
    {{ content }}

    <script src="{{ '/js/main.js' | url }}"></script>
</body>

</html>