<!DOCTYPE html>
<html lang="en">

{% include "head.liquid" %}

<body class='{{ class }} line-numbers {% if tags %}tags-{{tags | join: "-"}}{% endif %}{% if teacher%}notes{%endif%}' style="{% if background %}background: {{background}} {%endif%}">
    <header class="site__header">
        <h1 class="site__title">
            <a href='/'>Max Kohler</a>
        </h1>
    </header>
      <aside class="site__sidebar">
        <div class='site__cta'>
            <p>"Advanced graphic design solutions"</p>
        </div>
        <ul class="site__links">
            <li><a href="https://maxakohler.substack.com/subscribe">Substack</a></li>
            <li><a href="https://twitter.com/maxakohler">Twitter</a></li>
            <li><a href="https://www.instagram.com/maxakohler/">Instagram</a></li>
            <li><button data-email="hello@maxkohler.com " class="copy-email">Email</button></li>
        </ul>
      </aside>
  {{ content }}
      {% include "footer.liquid" %}

  <script src="{{ '/js/main.js' | url }}"></script>
</body>

</html>
