<figure class='post-figure embed-container {{class}}'>

<div class='embed' style="padding:{{format}}% 0 0 0;position:relative;">
	<iframe src="{{src}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

{% if caption %}
<figcaption>
    {% if caption %}<span class="figure-caption">{{ caption | renderMarkdown }}</span>{% endif %}
    {% if source %}<span class="figure-source">{{ source | renderMarkdown }}</span>{% endif %}
</figcaption>
{% endif %}

</figure>
