<figure class="post-figure {{ class }}">
    {% if src contains ".mp4" %}
    <video class="media" src="{{ src }}" autoplay muted loop></video>
    {% else %}
    <img class="media" alt="{{ alt }}" loading="lazy" decoding="async" src="{{ src }}" />
    {% endif %}
    <figcaption>
        {% if caption %}
        <div class="figure__caption">
            {{ caption | renderMarkdown }}
        </div>
        {% endif %}
        {% if source %}
        <div class="figure__source">
            {{ source | renderMarkdown }}
        </div>
        {% endif %}
    </figcaption>
</figure>