<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="monetization" content="$ilp.uphold.com/FyZJpWB9BnWL">
	<title>{% if title %}{{ title }} → {{ site.title }} {% else %}{{ site.title }} → {{site.description}}{% endif %}
	</title>
	<meta name="description"
		content="{% if intro %}{{ intro | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href='{{"/css/main.css" | url}}'>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@maxakohler">
	<meta name="twitter:site" content="@maxakohler">
	<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description"
		content="{% if intro %}{{ intro | strip_newlines | truncate: 160 }}{% else %}{{site.description}}{% endif %}">
	<meta name="twitter:image:src" content="{% if thumb %}https://www.maxkoehler.com/{{ thumb }}{% endif %}">

	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	{% if includesMath %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
		type="text/javascript"></script> {%
	endif %}
	{% if includesMusic %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_basic-min.js" type="text/javascript"></script>
	<script>
		function renderMusic() {
			let els = document.querySelectorAll('.music')
			for (let i = 0; i < els.length; i++) {
				el = els[i];
				let _id = 'music-' + i;
				el.setAttribute('id', _id);
				let data = String(el.innerHTML);
				console.log(data)
				ABCJS.renderAbc(el, data);
			}
			return true;
		}

		window.addEventListener('DOMContentLoaded', renderMusic);
	</script>
	{% endif %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
</head>