---
layout: base
class: post
---

<aside class="post-meta">
	<span class="post-section post-meta-item">
		{% assign t = tags | first %}
		{% if t == "post" %}
		Writing
		{% else %}
		{{t | capitalize}}
		{% endif %}
	</span>
	<date class="post-date post-meta-item">
		{{ date | date: "%B %d, %Y" }}
	</date>
	<span>{{content | strip_html | wordcount}} minutes</span>
</aside>

<article class='single-post {{page.class}} section-{{page.section}}'>
	<header class="post-header">
		<div class='header-copy'>
			<h1 class="post-title">
				{% if external_link %}
				<a href="{{external_link}}">{{title}}</a>
				{% else %}
				{{ title }}
				{% endif %}
			</h1>
			<div class="post-intro">
				{{ intro | markdownify}}
			</div>
		</div>
	</header>
	<div class="post-content">
		{{ content }}
	</div>
</article>