---
layout: base
class: post
---

<article class="single__container {{ class }}">
  <header class="single__header {% if intro%}has-intro{%endif%}">
    <div class="single__header-inner">
      <h1 class="single__title">
        {% if external_link %}
        <a href="{{ external_link }}">{{ title }}</a>
        {% else%} {% if website %}
        <a href="{{ website }}">{{ title }}</a>
        {% else%}
        {{ title }}
        {% endif %} {% endif %}
      </h1>
      {% if intro and intro != "" %}
      <div class="single__intro">
        {{ intro | renderMarkdown }}
      </div>
      {% endif %} {% if hero.src %}
      <img class="single__thumb" src="{{ hero.src }}" alt="{{ hero.alt }}" />
      {% endif %}
    </div>

    <aside class="single__meta">
      <span class="post-date post-meta-item">
        {% if updated %}
        <time class="updated">Published {{ date | date: "%m/%d/%Y" }}</time><time>Updated {{ updated | date: "%m/%d/%Y" }}</time>
        {% else %}
        <time>{{ date | date: "%m/%d/%Y" }}</time>
        {% endif %}
      </span>
    </aside>
  </header>
  <div class="single__copy">
    {{ content }}
  </div>
</article>