---
layout: base
class: post
---

<article class="single-post {{ page.class }} section-{{ page.section }}">
  <header class="post-header {% if intro%}has-intro{%endif%}">
    <aside class="post-meta">
      {% if draft %}
      <span>DRAFT</span>
      {% endif %}
      <a href="/">{{site.title}}</a>
      <date class="post-date post-meta-item">
        {{ date | date: "%B %d, %Y" }}
      </date>
    </aside>
    <div class="header-copy">
      {% if thumb.src %}
        <img class="post__thumb" src="{{thumb.src}}" alt="{{thumb.alt}}">
      {% endif %}
      <h1 class="post-title">
        {% if external_link %}
        <a href="{{ external_link }}">{{ title }}</a>
        {% else%} {% if website %}
        <a href="{{ website }}">{{ title }}</a>
        {% else%}
        {{ title }}
        {% endif %} {% endif %}
      </h1>
      {% if intro %}
      <div class="post-intro">
        {{ intro | renderMarkdown }}
      </div>
      {% endif %}
    </div>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>
